.license {
  width: 450px;
  height:230px;
  background-color: lightGrey;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
  border: 1px solid black;
}

.alienPic {
  margin-top: 15px;
  height:200px;
  width:200px;
}

span {
  font-size: 18px;
}



.cardInfo {
  margin-top: 50px;

}


.monsterIncLady {
  display: inline-block;
}


.MIPIC {
  margin-bottom:10px;
  height:400px;
  width:600px;
}
