//Navbar
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
.nav {
  background-color: #04395E;
  height: 10vw;
  width: 100vw;
  margin-left: 0;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 2.5vw;
  padding-left: 30px;
}

.icon {
  background-image: url('/images/logo.png');
}

.section {
  left: 20;
  padding-left: 30px;
  position: absolute;
}


//list show
.avatar {
  width: 100px;
}

//footer

.footer {
  width: 100vw;
  height: 10vw;
}


.license {
  width: 450px;
  height:230px;
  background-color: lightGrey;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.alienPic {
  margin-top: 15px;
  height:200px;
  width:200px;
}

span {
  font-size: 18px;
}



.cardInfo {
  margin-top: 50px;

}


.monsterIncLady {
  display: inline-block;
}


.MIPIC {
  margin-bottom:10px;
  height:400px;
  width:600px;
}
